@media screen and (max-width: 600px ) {
    .navbar{
        position: relative;
    }

    .navbar .grid-menu{
        display: block;
        grid-column: 2/3;
        font-size: 30px;
        cursor: pointer;
    }
    
}